/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.todo-wrapper {
    width: 300px;
    margin: 50px auto;
    min-height: 100px;
    border-radius: 10px;
}

.list-item.completed {
    color: grey;
}

.list-item .edit-name {
    display: none;
}

.list-item.edit-mode .edit-name {
    display: block;
}
.list-item.edit-mode .item-name {
    display: none;
}

.input-style {
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

#complete-all {
    margin-left: 20px;
}

.main-h1 {
    text-align: center;
}

.list-item {
    width: 300px;
    min-height: 100px;
    background-color: #dadada;
    margin-bottom: 20px;
    overflow-x: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

.delete-item {
    text-decoration: none;
    margin-left: 10px;
}

.item-name {
    margin-left: 10px;
}

.accept-button {
    margin-top: 10px;
    margin-left: 10px;
    display: block;
}

.accept-button {
    display: none;
}

.input_label::before {
    margin-left: 10px;
    content: '';
    border: 1px solid grey;
    display: inline-block;
    vertical-align: top;
    right: 5px;
    height: 23px;
    width: 23px;
    background-image: url(../img/checkbox.png);
    background-repeat: no-repeat;
    background-position: 0px -99px;
    cursor: pointer;
}

.accept-button:checked ~ .input_label::before {
    background-position: 0px 0px;
}


